{% extends "base.html" %}

{% block title %}
Dashboard | Workstation Tasks
{% endblock %}

{% block content %}

<section class="card">

    <h2>🏠 Dashboard</h2>

    <p>
        Bem-vindo ao <strong>Workstation Tasks</strong>.
    </p>

    <hr>

    <div class="info">

        <p><strong>Versão:</strong> 0.1.0</p>

        <p><strong>Status:</strong> 🟢 Sistema Inicializado</p>

        <p><strong>Framework:</strong> Flask</p>

        <p><strong>Arquitetura:</strong> Application Factory + Blueprints</p>

    </div>

</section>

{% endblock %}